* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (min-width: 320px) and (max-width: 480px) {
  html {
    scroll-behavior: smooth;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    position: fixed;
    width: 100%;
    z-index: 100;
    border-bottom: 0.01em solid #fe343e;

    .overlay {
      width: 0%;
      height: 60%;
      z-index: 1;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow-x: hidden;
      transition: all 0.5s;
    }
    .closeBtn {
      background-color: transparent;
      border-color: transparent;
      font-size: 1.8em;
      text-align: left;
      margin-left: 0.3em;
      cursor: pointer;
    }
    .overlay-content a {
      text-decoration: none;
      display: block;
      text-align: center;
      padding: 5px;
      margin-top: 10px;
    }

    #menuHamburguer {
      padding-left: 10px;
      padding-top: 5px;
    }
    h1 {
      margin-bottom: 20px;
      margin-left: 15px;
    }
    .modes {
      margin-right: 2em;
      margin-top: 8px;
    }
    #light {
      font-size: 20px;
      display: none;
      cursor: pointer;
    }
    #dark {
      font-size: 20px;
      cursor: pointer;
    }
  }
  main {
    .apresentacao {
      padding: 60px;
      text-align: center;
    }
    .imgPerfil {
      width: 75%;
      border-radius: 10px;
      border: 6px solid transparent;
      position: relative;
      animation: animacao-borda 5s linear infinite;
      margin-top: 4em;
    }
    @keyframes animacao-borda {
      0% {
        border-top: 2px solid #fe343e;
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
        border-left: 2px solid transparent;
      }
      25% {
        border-top: 2px solid transparent;
        border-right: 2px solid #fe343e;
        border-bottom: 2px solid transparent;
        border-left: 2px solid transparent;
      }
      50% {
        border-top: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 2px solid #fe343e;
        border-left: 2px solid transparent;
      }
      75% {
        border-top: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
        border-left: 2px solid #fe343e;
      }
      100% {
        border-top: 2px solid #fe343e;
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
        border-left: 2px solid transparent;
      }
    }
    .title {
      margin-top: 1em;
    }
    .subTitle {
      text-align: center;
      margin-top: 1em;
    }
    .downloadBtn {
      margin-top: 2em;
      padding-top: 4.5%;
      padding-bottom: 4.5%;
      border-radius: 20px;
      border: none;
      width: 100%;
    }
    .buttonDownload {
      text-decoration: none;
    }
    .sobreMim {
      text-align: center;
      margin-top: 2em;
      .titleOne {
        font-size: 2em;
        margin-bottom: 1em;
      }
      .descricao {
        padding: 15px;
        margin-top: 2em;
        max-width: 100%;
        font-size: 1em;
      }
    }
    .titleTwo {
      text-align: center;
      margin-top: 3em;
      margin-bottom: 2em;
    }
    .skills {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      row-gap: 2em;
      justify-content: center;
      align-items: center;
      font-size: 1em;
      font-family: "Source Code Pro", monospace;
      margin-left: 2em;
    }
    .html {
      background-color: #202021;
      color: #fe343e;
      padding: 1em 0 1em 0;
      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      text-align: center;
      width: 80%;
      font-family: "Source Code Pro", monospace;
    }
    .css {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 80%;
      font-family: "Source Code Pro", monospace;
    }
    .javascript {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 80%;
    }
    .bootstrap {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 80%;

      font-family: "Source Code Pro", monospace;
    }
    .figma {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;

      border-top-left-radius: 30px;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 80%;

      font-family: "Source Code Pro", monospace;
    }
    .git {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;

      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 80%;
      font-family: "Source Code Pro", monospace;
    }
    .github {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;
      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      margin-right: 1em;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 80%;
      font-family: "Source Code Pro", monospace;
    }
    .sass {
      background-color: #202021;
      color: #fe343e;

      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      margin-right: 1em;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 80%;
      font-family: "Source Code Pro", monospace;
    }
    .habilidadesImage {
      margin-top: 0.5em;
      width: 4em;
    }
    .titleTree {
      text-align: center;
      margin-bottom: 3em;
      font-size: 2em;
      margin-top: 3em;
    }
    .projetos {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      z-index: 200;
      justify-content: center;
      align-items: center;
    }
    .card {
      width: 95%;
      height: 80%;
      overflow: hidden;
      position: relative;
      margin-bottom: 2em;
      margin-left: 0.6em;
      border-bottom: 0.2em solid #fe343e;
    }
    .card-image {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    .card-body {
      width: 100%;
      height: 100%;
      top: 100%;
      right: 0%;
      position: absolute;
      background: #202021d2;
      backdrop-filter: blur(0.5em);
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: 1.5s;
    }
    .card:hover .card-body {
      top: 0;
    }
    .card-title {
      padding-top: 2em;
      color: #fff;
      font-size: 1.1em;
      text-align: left;
      margin-left: 1.5em;
    }
    .card-info {
      color: #fff;
      width: 90%;
      line-height: 1.5;
      margin-left: 1.5em;
      text-align: left;
      margin-top: 1.5em;
      font-size: 0.7em;
      line-height: 1.7em;
    }
    .linguagens {
      display: none;
      gap: 2px;
    }
    .LinguageHtml {
      width: 20px;
      margin-left: 2em;
    }
    .LinguageCss {
      width: 20px;
    }
    .LinguageJavascript {
      width: 20px;
    }
    .btn {
      display: flex;
      justify-content: center;
      gap: 1em;
      padding-bottom: 2em;
      padding-top: 1em;
      .card-btn {
        padding: 0.3em 1.3em;
        border: solid #fe343e;
        border-radius: 2em;
        background-color: #fe343e;
        .github-btn {
          text-decoration: none;
          color: #fff;
          font-size: 0.8em;
        }
        .github-btn:hover {
          color: #13131f;
        }
        .site {
          text-decoration: none;
          color: #fff;
          font-size: 0.8em;
        }
        .site:hover {
          color: #13131f;
        }
      }
    }
  }
  footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    .contatos {
      text-align: center;
      .titleTree {
        text-align: center;
        font-size: 30px;
      }
    }
    .email {
      font-family: "Source Code Pro";
      font-size: 14px;
    }
    #emailImage {
      font-size: 35px;
    }
    .telefone {
      font-family: "Source Code Pro";
      font-size: 14px;
      margin-top: 5em;
    }
    #telefoneImage {
      padding: 10px;
      font-size: 35px;
      border-radius: 40px;
    }
    .telefoneParagrafo {
      margin-top: 1em;
    }
    .linkedinGithub {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      font-family: "Source Code Pro";
      margin-top: 5em;
      margin-bottom: 2em;
      font-size: 14px;
    }
    .linkedinParagrafo {
      margin-top: 1em;
    }
    #linkedinImage {
      padding: 10px;
      font-size: 35px;
      border-radius: 40px;
    }
    .githubParagrafo {
      margin-top: 1em;
    }
    #githubImage {
      padding: 10px;
      font-size: 35px;
      border-radius: 40px;
    }
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  html {
    scroll-behavior: smooth;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    position: fixed;
    width: 100%;
    height: 17%;
    z-index: 100;
    border-bottom: 0.01em solid #fe343e;

    .overlay {
      width: 0%;
      height: 65%;
      z-index: 1;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow-x: hidden;
      transition: all 0.5s;
    }
    .closeBtn {
      background-color: transparent;
      border-color: transparent;
      font-size: 1.8em;
      text-align: left;
      margin-left: 0.3em;
      cursor: pointer;
    }
    .overlay-content a {
      text-decoration: none;
      display: block;
      text-align: center;
      margin-top: 1em;
      font-size: 1.3em;
    }

    #menuHamburguer {
      padding-left: 10px;
      padding-top: 5px;
    }
    h1 {
      font-size: 2em;
    }
    .modes {
      margin-right: 1.6em;
      margin-top: 0.5em;
    }
    #light {
      font-size: 1.5em;
      display: none;
      cursor: pointer;
    }
    #dark {
      font-size: 1.5em;
      cursor: pointer;
    }
  }
  main {
    .apresentacao {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    .imgPerfil {
      width: 30%;
      border-radius: 10px;
      border: 6px solid transparent;
      position: relative;
      animation: animacao-borda 5s linear infinite;
      margin-top: 8em;
      margin-right: 0.9em;
    }
    @keyframes animacao-borda {
      0% {
        border-top: 2px solid #fe343e;
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
        border-left: 2px solid transparent;
      }
      25% {
        border-top: 2px solid transparent;
        border-right: 2px solid #fe343e;
        border-bottom: 2px solid transparent;
        border-left: 2px solid transparent;
      }
      50% {
        border-top: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 2px solid #fe343e;
        border-left: 2px solid transparent;
      }
      75% {
        border-top: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
        border-left: 2px solid #fe343e;
      }
      100% {
        border-top: 2px solid #fe343e;
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
        border-left: 2px solid transparent;
      }
    }
    .title {
      margin-top: 6.1em;
      text-align: center;
      font-size: 1.5em;
      margin-left: 2em;
    }
    .subTitle {
      text-align: center;
      margin-top: 1em;
      margin-left: 2em;
    }
    .downloadBtn {
      margin-top: 2em;
      padding-top: 4.5%;
      padding-bottom: 4.5%;
      border-radius: 20px;
      border: none;
      width: 60%;
      font-size: 0.8em;
      margin-left: 6em;
    }
    .buttonDownload {
      text-decoration: none;
    }
    .sobreMim {
      text-align: center;
      margin-top: 8em;
      .titleOne {
        font-size: 2em;
        margin-bottom: 1em;
      }
      .descricao {
        padding: 15px;
        margin-top: 2em;
        max-width: 100%;
        font-size: 1.1em;
      }
    }
    .titleTwo {
      text-align: center;
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: 1em;
    }
    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      justify-content: center;
      align-items: center;
      font-size: 1em;
      font-family: "Source Code Pro", monospace;
      margin-left: 2em;
    }
    .skills p {
      font-size: 1.1em;
    }
    .html {
      background-color: #202021;
      color: #fe343e;
      padding: 1em 0 1em 0;
      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      text-align: center;
      width: 80%;
      height: 80%;
      font-family: "Source Code Pro", monospace;
      margin-bottom: 1.5em;
      margin-top: 1.4em;
    }
    .css {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 80%;
      height: 80%;
      font-family: "Source Code Pro", monospace;
    }
    .javascript {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 80%;
      height: 80%;
    }
    .bootstrap {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 80%;
      height: 80%;

      font-family: "Source Code Pro", monospace;
    }
    .figma {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;

      border-top-left-radius: 30px;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 80%;
      height: 80%;

      font-family: "Source Code Pro", monospace;
    }
    .git {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;

      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 80%;
      height: 80%;
      font-family: "Source Code Pro", monospace;
    }
    .github {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;
      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      margin-right: 1em;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 80%;
      height: 80%;
      font-family: "Source Code Pro", monospace;
    }
    .sass {
      background-color: #202021;
      color: #fe343e;

      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      margin-right: 1em;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 80%;
      height: 80%;
      font-family: "Source Code Pro", monospace;
    }
    .habilidadesImage {
      margin-top: 0.5em;
      width: 4em;
    }
    .titleTree {
      text-align: center;
      margin-bottom: 3em;
      font-size: 2em;
      margin-top: 3em;
    }
    .projetos {
      display: flex;
      justify-content: center;
      z-index: 200;
      gap: 0.1em;
    }
    .card {
      width: 40em;
      height: 16em;
      overflow: hidden;
      position: relative;
      margin: 0 0.2em 0 0.2em;
      border-bottom: 0.2em solid #fe343e;
    }
    .card-image {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    .card-body {
      width: 100%;
      height: 100%;
      top: 100%;
      right: 0%;
      position: absolute;
      background: #202021d2;
      backdrop-filter: blur(0.5em);
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: 1.5s;
    }
    .card:hover .card-body {
      top: 0;
    }
    .card-title {
      color: #fff;
      font-size: 1em;
      text-align: left;
      margin-left: 1.5em;
    }
    .card-info {
      color: #fff;
      width: 90%;
      line-height: 1.2;
      margin-left: 1.5em;
      text-align: left;
      margin-top: 1.5em;
      font-size: 0.7em;
      line-height: 1.6em;
    }
    .linguagens {
      display: none;
      gap: 2px;
    }
    .LinguageHtml {
      width: 20px;
      margin-left: 2em;
    }
    .LinguageCss {
      width: 20px;
    }
    .LinguageJavascript {
      width: 20px;
    }
    .btn {
      display: flex;
      justify-content: center;
      gap: 1em;
      padding-bottom: 2em;
      padding-top: 1em;
      .card-btn {
        padding: 0.3em 1.3em;
        border: solid #fe343e;
        border-radius: 2em;
        background-color: #fe343e;
        .github-btn {
          text-decoration: none;
          color: #fff;
          font-size: 0.8em;
        }
        .github-btn:hover {
          color: #13131f;
        }
        .site {
          text-decoration: none;
          color: #fff;
          font-size: 0.8em;
        }
        .site:hover {
          color: #13131f;
        }
      }
    }
  }
  footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    .titleTree {
      text-align: center;
      font-size: 30px;
      margin-top: 2em;
    }
    .contatos {
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin-bottom: 2em;
      gap: 3em;
      margin-top: 2em;
    }
    .email {
      font-family: "Source Code Pro";
      font-size: 14px;
    }
    #emailImage {
      font-size: 35px;
    }
    .telefone {
      font-family: "Source Code Pro";
      font-size: 14px;
      margin-top: 6.1em;
    }
    #telefoneImage {
      padding: 10px;
      font-size: 35px;
      border-radius: 40px;
    }
    .telefoneParagrafo {
      margin-top: 1.2em;
    }
    .linkedinGithub {
      display: flex;
      gap: 4em;
      font-family: "Source Code Pro";
      margin-top: 5em;
      margin-bottom: 2em;
      font-size: 1em;
      margin-left: 2em;
    }
    .linkedinParagrafo {
      margin-top: 1em;
    }
    #linkedinImage {
      padding: 10px;
      font-size: 35px;
      border-radius: 40px;
    }
    .githubParagrafo {
      margin-top: 1em;
    }
    #githubImage {
      padding: 10px;
      font-size: 35px;
      border-radius: 40px;
    }
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  html {
    scroll-behavior: smooth;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    position: fixed;
    width: 100%;
    height: 20%;
    z-index: 100;
    border-bottom: 0.01em solid #fe343e;

    .overlay {
      width: 0%;
      height: 70%;
      z-index: 1;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow-x: hidden;
      transition: all 0.5s;
    }
    .closeBtn {
      background-color: transparent;
      border-color: transparent;
      font-size: 2em;
      text-align: left;
      margin-left: 0.3em;
      cursor: pointer;
    }
    .overlay-content a {
      text-decoration: none;
      display: block;
      text-align: center;
      padding: 0.2em;
      margin-top: 1em;
      font-size: 1.5em;
    }

    #menuHamburguer {
      padding-left: 10px;
      padding-top: 5px;
      font-size: 2em;
    }
    h1 {
      font-size: 2.5em;
      margin-bottom: 0.5em;
    }
    .modes {
      margin-right: 1.8em;
      margin-top: 0.5em;
    }
    #light {
      font-size: 1.8em;
      display: none;
      cursor: pointer;
    }
    #dark {
      font-size: 1.8em;
      cursor: pointer;
    }
  }
  main {
    .apresentacao {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
    }
    .imgPerfil {
      width: 30%;
      border-radius: 10px;
      border: 6px solid transparent;
      position: relative;
      animation: animacao-borda 5s linear infinite;
      margin-top: 8em;
      margin-right: 1em;
    }
    @keyframes animacao-borda {
      0% {
        border-top: 2px solid #fe343e;
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
        border-left: 2px solid transparent;
      }
      25% {
        border-top: 2px solid transparent;
        border-right: 2px solid #fe343e;
        border-bottom: 2px solid transparent;
        border-left: 2px solid transparent;
      }
      50% {
        border-top: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 2px solid #fe343e;
        border-left: 2px solid transparent;
      }
      75% {
        border-top: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
        border-left: 2px solid #fe343e;
      }
      100% {
        border-top: 2px solid #fe343e;
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
        border-left: 2px solid transparent;
      }
    }
    .title {
      margin-top: 4em;
      font-size: 2.2em;
    }
    .subTitle {
      text-align: center;
      margin-top: 1em;
      font-size: 1.3em;
    }
    .downloadBtn {
      margin-top: 2em;
      padding-top: 4.5%;
      padding-bottom: 4.5%;
      border-radius: 20px;
      border: none;
      width: 70%;
      margin-left: 3.6em;
      font-size: 1em;
    }
    .buttonDownload {
      text-decoration: none;
    }
    .sobreMim {
      text-align: center;
      margin-top: 10em;
      .titleOne {
        font-size: 2em;
        margin-bottom: 1em;
      }
      .descricao {
        padding: 15px;
        margin-top: 2em;
        max-width: 100%;
        font-size: 1.2em;
      }
    }
    .titleTwo {
      text-align: center;
      margin-top: 3em;
      margin-bottom: 2em;
      font-size: 2.5em;
    }
    .skills {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 2em;
      font-size: 1em;
      font-family: "Source Code Pro", monospace;
      margin-left: 2em;
    }
    .skills p {
      font-size: 1.1em;
    }
    .html {
      background-color: #202021;
      color: #fe343e;
      padding: 1em 0 1em 0;
      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      text-align: center;
      width: 80%;
      height: 90%;
      font-family: "Source Code Pro", monospace;
      margin-bottom: 1.5em;
    }
    .css {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 80%;
      height: 90%;

      font-family: "Source Code Pro", monospace;
      margin-bottom: 1.5em;
    }
    .javascript {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 80%;
      height: 90%;
      margin-bottom: 1.5em;
    }
    .bootstrap {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 80%;
      height: 90%;
      margin-bottom: 1.5em;

      font-family: "Source Code Pro", monospace;
    }
    .figma {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;

      border-top-left-radius: 30px;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 80%;
      height: 90%;

      font-family: "Source Code Pro", monospace;
    }
    .git {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;

      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 80%;
      height: 90%;
      font-family: "Source Code Pro", monospace;
    }
    .github {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;
      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      margin-right: 1em;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 80%;
      height: 90%;
      font-family: "Source Code Pro", monospace;
    }
    .sass {
      background-color: #202021;
      color: #fe343e;

      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      margin-right: 1em;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 80%;
      height: 90%;
      font-family: "Source Code Pro", monospace;
    }
    .habilidadesImage {
      margin-top: 0.5em;
      width: 4em;
    }
    .titleTree {
      text-align: center;
      margin-bottom: 3em;
      font-size: 2.5em;
      margin-top: 3em;
    }
    .projetos {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 200;
      gap: 2em;
      margin: 0 1em 0 1em;
    }
    .card {
      width: 100%;
      height: 16em;
      overflow: hidden;
      position: relative;
      border-bottom: 0.2em solid #fe343e;
    }
    .card-image {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    .card-body {
      width: 100%;
      height: 100%;
      top: 100%;
      right: 0%;
      position: absolute;
      background: #202021d2;
      backdrop-filter: blur(0.5em);
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: 1.5s;
    }
    .card:hover .card-body {
      top: 0;
    }
    .card-title {
      color: #fff;
      font-size: 1em;
      text-align: left;
      margin-left: 1.5em;
      padding-top: 1.5em;
    }
    .card-info {
      color: #fff;
      width: 90%;
      line-height: 2.5;
      margin-left: 1.5em;
      text-align: left;
      font-size: 0.7em;
      line-height: 1.5em;
      padding-top: 2em;
      text-align: left;
    }
    .linguagens {
      display: none;
      gap: 2px;
    }
    .LinguageHtml {
      width: 20px;
      margin-left: 2em;
    }
    .LinguageCss {
      width: 20px;
    }
    .LinguageJavascript {
      width: 20px;
    }
    .btn {
      display: flex;
      justify-content: center;
      gap: 1em;
      padding-bottom: 2em;
      padding-top: 1em;
      .card-btn {
        padding: 0.3em 1.3em;
        border: solid #fe343e;
        border-radius: 2em;
        background-color: #fe343e;
        .github-btn {
          text-decoration: none;
          color: #fff;
          font-size: 0.8em;
        }
        .github-btn:hover {
          color: #13131f;
        }
        .site {
          text-decoration: none;
          color: #fff;
          font-size: 0.8em;
        }
        .site:hover {
          color: #13131f;
        }
      }
    }
  }
  footer {
    .titleTree {
      text-align: center;
      font-size: 2em;
      margin-top: 2em;
    }
    .contatos {
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin-bottom: 2em;
      gap: 3.9em;
      margin-top: 2em;
    }
    .telefone {
      font-family: "Source Code Pro";
      font-size: 1em;
      margin-top: 5.2em;
    }
    #telefoneImage {
      padding: 10px;
      font-size: 2em;
      border-radius: 40px;
    }
    .telefoneParagrafo {
      margin-top: 1em;
    }
    .linkedinGithub {
      display: flex;
      gap: 6em;
      font-family: "Source Code Pro";
      margin-top: 5em;
      margin-bottom: 2em;
      font-size: 1em;
      margin-left: 2em;
    }
    .linkedinParagrafo {
      margin-top: 1em;
    }
    #linkedinImage {
      padding: 10px;
      font-size: 35px;
      border-radius: 40px;
    }
    .githubParagrafo {
      margin-top: 1em;
    }
    #githubImage {
      padding: 10px;
      font-size: 35px;
      border-radius: 40px;
    }
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  html {
    scroll-behavior: smooth;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    position: fixed;
    width: 100%;
    height: 20%;
    z-index: 100;
    border-bottom: 0.01em solid #fe343e;

    .overlay {
      width: 0%;
      height: 70%;
      z-index: 1;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow-x: hidden;
      transition: all 0.5s;
    }
    .closeBtn {
      background-color: transparent;
      border-color: transparent;
      font-size: 2em;
      text-align: left;
      margin-left: 0.3em;
      cursor: pointer;
    }
    .overlay-content a {
      text-decoration: none;
      display: block;
      text-align: center;
      padding: 0.8em;
      font-size: 1.3em;
    }

    #menuHamburguer {
      padding-left: 10px;
      padding-top: 5px;
      font-size: 2em;
      cursor: pointer;
    }
    h1 {
      font-size: 2.5em;
      margin-bottom: 0.5em;
    }
    .modes {
      margin-right: 1.8em;
      margin-top: 0.5em;
    }
    #light {
      font-size: 1.8em;
      display: none;
      cursor: pointer;
    }
    #dark {
      font-size: 1.8em;
      cursor: pointer;
    }
  }
  main {
    max-width: 100%;
    .apresentacao {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
    }
    .imgPerfil {
      width: 25%;
      border-radius: 10px;
      border: 6px solid transparent;
      position: relative;
      animation: animacao-borda 5s linear infinite;
      margin-top: 8.5em;
      margin-right: 1em;
    }
    @keyframes animacao-borda {
      0% {
        border-top: 2px solid #fe343e;
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
        border-left: 2px solid transparent;
      }
      25% {
        border-top: 2px solid transparent;
        border-right: 2px solid #fe343e;
        border-bottom: 2px solid transparent;
        border-left: 2px solid transparent;
      }
      50% {
        border-top: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 2px solid #fe343e;
        border-left: 2px solid transparent;
      }
      75% {
        border-top: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
        border-left: 2px solid #fe343e;
      }
      100% {
        border-top: 2px solid #fe343e;
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
        border-left: 2px solid transparent;
      }
    }
    .title {
      margin-top: 5em;
      font-size: 2.2em;
    }
    .subTitle {
      text-align: center;
      margin-top: 1em;
      font-size: 1.3em;
    }
    .downloadBtn {
      margin-top: 2em;
      padding-top: 4.5%;
      padding-bottom: 4.5%;
      border-radius: 20px;
      border: none;
      width: 70%;
      margin-left: 3.6em;
      font-size: 1em;
      background-color: #fe343e;
    }
    .buttonDownload {
      text-decoration: none;
    }
    .sobreMim {
      text-align: center;
      margin-top: 10em;
      .titleOne {
        font-size: 2.5em;
        margin-bottom: 1em;
      }
      .descricao {
        padding: 15px;
        margin-top: 2em;
        max-width: 100%;
        font-size: 1.1em;
        color: rgb(172, 171, 170);
        line-height: 2;
      }
    }
    .titleTwo {
      text-align: center;
      margin-top: 3em;
      margin-bottom: 2em;
      font-size: 2.5em;
    }
    .skills {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 1em;
      font-size: 1em;
      font-family: "Source Code Pro", monospace;
      margin-left: 3.5em;
    }
    .skills p {
      font-size: 1.1em;
    }
    .html {
      background-color: #202021;
      color: #fe343e;
      padding: 1em 0 1em 0;
      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      text-align: center;
      width: 70%;
      height: 90%;
      font-family: "Source Code Pro", monospace;
      margin-bottom: 1.5em;
      margin-left: 1.5em;
    }
    .css {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 70%;
      height: 90%;
      margin-left: 0.7em;
      font-family: "Source Code Pro", monospace;
      margin-bottom: 1.5em;
    }
    .javascript {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 70%;
      height: 90%;
      margin-bottom: 1.5em;
    }
    .bootstrap {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 70%;
      height: 90%;
      margin-bottom: 1.5em;

      font-family: "Source Code Pro", monospace;
    }
    .figma {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;

      border-top-left-radius: 30px;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 70%;
      height: 90%;
      margin-left: 1.5em;
      font-family: "Source Code Pro", monospace;
    }
    .git {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;

      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 70%;
      height: 90%;
      font-family: "Source Code Pro", monospace;
      margin-left: 0.7em;
    }
    .github {
      background-color: #202021;
      color: #fe343e;
      border-bottom: 3px solid #fe343e;
      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      margin-right: 1em;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 70%;
      height: 90%;
      font-family: "Source Code Pro", monospace;
    }
    .sass {
      background-color: #202021;
      color: #fe343e;

      border-bottom: 3px solid #fe343e;
      border-top-left-radius: 30px;
      margin-right: 1em;
      padding: 1em 0 1em 0;
      text-align: center;
      width: 70%;
      height: 90%;
      font-family: "Source Code Pro", monospace;
    }
    .habilidadesImage {
      margin-top: 0.5em;
      width: 4em;
    }
    .titleTree {
      text-align: center;
      margin-bottom: 3em;
      font-size: 2.5em;
      margin-top: 2.5em;
    }
    .projetos {
      display: grid;
      grid-template-columns: repeat(3, 5fr);
      align-items: center;
      z-index: 200;
      gap: 4em;
      margin: 0 4em 0 4em;
    }
    .card {
      width: 100%;
      height: 17em;
      overflow: hidden;
      position: relative;
      border-bottom: 0.2em solid #fe343e;
    }
    .card-image {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    .card-body {
      max-width: 100%;
      max-height: 100%;
      top: 100%;
      right: 0%;
      position: absolute;
      background: #202021d2;
      backdrop-filter: blur(0.5em);
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: 1.5s;
    }
    .card:hover .card-body {
      top: 0;
    }
    .card-title {
      color: #fff;
      font-size: 1.3em;
      text-align: left;
      margin-left: 1.5em;
      padding-top: 2em;
    }
    .card-info {
      color: #fff;
      width: 90%;
      line-height: 1.5;
      margin-left: 1.5em;
      text-align: left;
      font-size: 0.7em;
      line-height: 1.5em;
      margin-top: 1em;
    }
    .linguagens {
      display: block;
      gap: 0.5em;
      padding-top: 0.6em;
    }
    .LinguageHtml {
      width: 20px;
      margin-left: 2em;
    }
    .LinguageCss {
      width: 20px;
    }
    .LinguageJavascript {
      width: 20px;
    }
    .btn {
      display: flex;
      justify-content: center;
      gap: 1em;
      padding-bottom: 2em;
      padding-top: 1em;
      .card-btn {
        padding: 0.3em 1.3em;
        border: solid #fe343e;
        border-radius: 2em;
        background-color: #fe343e;
        .github-btn {
          text-decoration: none;
          color: #fff;
          font-size: 1em;
        }
        .github-btn:hover {
          color: #13131f;
        }
        .site {
          text-decoration: none;
          color: #fff;
          font-size: 1em;
        }
        .site:hover {
          color: #13131f;
        }
      }
    }
  }
  footer {
    .titleTree {
      text-align: center;
      font-size: 2.5em;
      margin-top: 5em;
    }
    .contatos {
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin-bottom: 5em;
      gap: 8em;
      margin-top: 2em;
    }
    .telefone {
      font-family: "Source Code Pro";
      font-size: 1em;
      margin-top: 5.2em;
    }
    #telefoneImage {
      padding: 10px;
      font-size: 2em;
      border-radius: 40px;
    }
    .telefoneParagrafo {
      margin-top: 1em;
    }
    .linkedinGithub {
      display: flex;
      gap: 10em;
      font-family: "Source Code Pro";
      margin-top: 5em;
      margin-bottom: 2em;
      font-size: 1em;
      margin-left: 2em;
    }
    .linkedinParagrafo {
      margin-top: 1em;
    }
    #linkedinImage {
      padding: 10px;
      font-size: 35px;
      border-radius: 40px;
    }
    .githubParagrafo {
      margin-top: 1em;
    }
    #githubImage {
      padding: 10px;
      font-size: 35px;
      border-radius: 40px;
    }
  }
}
